body{
    background-color: blue;
}
button{
    font-size: 25px;
    font-weight: 500;
    position: absolute;
  padding: 10px 30px; 
  margin-top: 300px;
  margin-left: 42.5%;
  cursor: pointer;
}